# Build
Debug/
Release/
build/

# Documentation générée
docs/

# CubeIDE
.settings/
*.launch

# CubeMX backup
*.bak
*.tmp

# OS
*.swp
.DS_Store

# CMake (si utilisé)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
